name: linter-check
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies and check with linter
        run: |
          pip install poetry
          make install
          make lint
      